<div class="container-fluid header-sub">
<nav class="navbar navbar-toggleable-xl navbar-light bg-faded">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<!-- Links -->
<div class="collapse navbar-collapse justify-content-end" id="nav-content">   
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="#">Buyer Protection</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Customer Service</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
Language
</a>
<div class="dropdown-menu" aria-labelledby="Preview">
<a class="dropdown-item" href="#">Telugu</a>
<a class="dropdown-item" href="#">Hindi</a>
<a class="dropdown-item" href="#">English</a>
</div>
</li>
</ul>
</div>
</nav>
<div class="row">
<div class="col-md-3 col-sm-5 logo-height">
  <img src="assets/images/Logobr.min.png">
</div>
<div class="col-md-5 search-box">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="..." placeholder="Search for Products and More..">
     <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </div>
  </div>
</div>
</div>
<div class="cart-height">
        <button class="btn btn-outline-success" type="submit"><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>CART<span class="cart-count">0</span></button>
</div>
<div class="cart-height">
        <span><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i><a href="" class="active">Wish List</a></span>
</div>
  </div>
</div>

