.header-sub{
.navbar {
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem !important;
}
.search-box{
    margin-top: 50px;
    margin-bottom: 0px;
}
.btn-default{
    background-color: #FF0000;
    color: #FFFFFF;
}
.logo-height {
    padding-top: 12px;
    padding-left: 100px;
}
.cart-count {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}
.cart-height{
padding-top: 49px;
padding-right:25px;
}
.button-clr {
    color: #FFFFFF;
    background-color:#FF0000;
}
.list-move {
    padding-left: 35px;
}
}
