<div class="container-fluid header-sub">
<div>
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Sell On BR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Track order</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Help</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Language</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">English</a>
      <a class="dropdown-item" href="#">Tamil</a>
      <a class="dropdown-item" href="#">Telugu</a>
    </div>
  </li>
</ul>
</div>
  <div class="menu-main">
<div class="row">
<div class="col-md-3 col-sm-5 logo-height">
  <img src="assets/images/Logobr.min.png">
</div>
<div class="col-md-5 search-box">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="..." placeholder="Search for Products and More..">
     <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
      </div>
  </div>
</div>
</div>
<div class="cart-height">
        <button class="btn btn-outline-success" type="submit"><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>CART<span class="cart-count">0</span></button>
</div>
<div class="cart-wish">
        <span><a href="" class="active">Wish List</a></span>
</div>
<div class="cart-height">
        <button class="btn btn-outline-success"><i class="fa fa-user-o fa-1x" aria-hidden="true"></i><a (click)="clicked()" class="" data-toggle="modal" data-target="#exampleModalLong">SignUp/SignIn</a></button>
</div>
  </div>
  </div>
</div>
<app-brlogin *ngIf="showPopUp"></app-brlogin>

