<div class="container-fluid sub-nav">
  <div class="sub-header">
    <div class="row">
      <div class="category-main col-md-2 col-sm-6">
        <div class="category-title">
          <span>CATEGORIES</span>
          <a href="">See All<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
        <div class="list-categories col-md-12">
          <dl>
            <dt><span><a href="">Women’s Clothing</a></span></dt>
            <dt><span><a href="">Men’s Clothing</a></span></dt>
            <dt><span><a href="">Phones & Accessories</a></span></dt>
            <dt><span><a href="">Consumer Electronics</a></span></dt>
            <dt><span><a href="">Jewelry & Watches</a></span></dt>
            <dt><span><a href="">Home & Garden, Furniture</a></span></dt>
            <dt><span><a href="">Bags & Shoes</a></span></dt>
            <dt><span><a href="">Toys,Kids & Baby</a></span></dt>
            <dt><span><a href="">Sports & Outdoors</a></span></dt>
            <dt><span><a href="">Health & Beauty</a></span></dt>
            <dt><span><a href="">Automobiles & Motorcycles</a></span></dt>
            <dt><span><a href="">Milk</a></span></dt>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
